{
  "parserOptions": {
    "parser": "babel-eslint",
    "ecmaVersion": 2018,
    "sourceType": "module",
  },
  "globals": {
    "CONFIG": false
  },
  "rules": {
    "semi": 2,
    "no-unused-vars": ["warn"],
    "no-debugger": ["warn"],
  },
  "env": {
    "node": true,
  }
}
