input[type="text"],
input[type="password"],
input[type="search"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="number"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea{
  @include appearance(none);
  background: #fafbfc;
  border: 1px solid $border_solid_gray;
  border-radius: $radius;
  box-shadow: inset 0 1px 1px rgba(#000,0.1);
  color: $text_black;
  font-size: $font_size_large;
  font-family: $family_gotham_ssm;
  padding: 15px;
  margin-bottom: 15px;
  width: 100%;

  &:focus{
    @include focusOutline;
  }

  @include max-width($bp_downsized_forms){
    font-size: $font_size_medium;
    padding: 12px;
  }

  @include max-width($bp_mobile_forms){
    font-size: $font_size_base;
  }
}

input[type="color"]{
  padding: 0;
  width: auto;
  min-width: 40px;
  min-height: 40px;
}

select{
  @include appearance(none);
  @include box-sizing(content-box);
  background: url('/assets/images/select-arrow.svg') center right $background_field_gray no-repeat;
  background-size: 24px;
  border: 1px solid $border_solid_gray;
  font-family: $family_gotham_ssm;
  font-size: $font_size_base;
  color: $text_dark_gray;
  padding: 10px 30px 10px 15px;
  border-radius: 40px;

  @include max-width($bp_downsized_forms){
    font-size: $font_size_small;
    padding: 7px 30px 7px 10px;
    width: 80%;
    display: block;
  }
}

select::-ms-expand {
  display: none;
}

button{
  @include appearance(none);
}

input[type="submit"], .button{
  @include appearance(none);
  border: 0 none;
  box-shadow: none;
  background: $purple;
  color: #fff;
  font-weight: $weight_normal;
  font-size: $font_size_large;
  font-family: $family_gotham;
  text-align: center;
  text-decoration: none;
  padding: 15px 30px;
  border-radius: $radius;
  display: inline-block;

  @include max-width($bp_downsized_forms){
    font-size: $font_size_medium;
  }

  &:hover {
    background: $purple_light;
    color: #fff;
  }
  &:focus {
    @include focusOutline;
  }

  &:active{
    background: $purple_dark;
  }
}

input[type="radio"], input[type="checkbox"]{
  margin: 10px;
  display: inline-block;
}

legend.label,
label{
  color: $text_light_gray;
  display: inline-block;
  margin-bottom: 10px;
}

fieldset{
  border: 0 none;
  padding: 0;
  margin: 0 0 $gutter;
}

legend{
  margin-bottom: $gutter;
}

// ****************************************************************
// * Questionpoint
// ****************************************************************
.required span,
span.required {
  color: $red;
}

legend.label,
label.text{
  display: inline-block;
}

input.text{
  margin-top: 10px;
  display: block;
}

input.smalltext{
  display: inline-block;
  width: 90px;
}

#broken_form{
  display: none;
}

.block--body{
  legend.label,
  label{
    font-size: $font_size_medium;
  }
}
